* {
	border: none;
	border-radius: 15px;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
    font-weight: bold;
	min-height: 20px;
}

window#waybar {
    background-color: transparent;
}

#custom-launcher, #network, #cpu, #memory, #custom-gpu, #workspaces, #tray, #cava, #language, #pulseaudio, #custom-power, #clock {
    margin: 10px 0 0 10px;
    padding: 5px 15px;
    background: rgba(25, 29, 33, 0.6); 
    color: #D9CECC;
    transition: 0.3s;
}

#workspaces button {
    color: #D9CECC;
    font-weight: bold;
    transition: 0.3s;
}

#workspaces button.active {
    color: #e0d1cf;
    background: rgba(25, 29, 33, 0.6); 
}

#custom-power {
    margin-right: 15px;
}



