window {
  background-color: #18161A;
}

* {
  font-family: "Jetbrains Mono NL";
  color: #fff;
}

#scroll {
  padding: 0.5rem;
}

#input {
  background-color: #18161A;
  color: #D9CECC;
  outline: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  font-size: 1rem;
  padding: 0.5rem;
  opacity: 1 !important
}

#inner-box {
  margin: 0.5rem;
  font-size: 1rem;
}

/* #input {
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 0;
} */

/* #outer-box {
  margin-top: -10px;
} */

#img {
  margin: 10px 10px;
}

#entry {
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 10px;
}

#entry:selected {
  background-color: #D9CECC;
  outline: none;
}

#text:selected {
  color: #191D21;
}

