* {
	border: none;
	border-radius: 15px;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
    font-weight: bold;
	min-height: 20px;
}

window#waybar {
	/* background: rgba(11, 18, 26, 0.614); */
    background-color: transparent;
}


#custom-launcher, #cpu, #memory, #disk, #workspaces, #tray, #cava, #language, #pulseaudio, #custom-power, #clock {
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
    background: rgba(30, 30, 46, 0.6); 
    color: #cdd6f4;
    transition: 0.3s;
}

#workspaces button {
    color: #cdd6f4;
    font-weight: bold;
    transition: 0.3s;
}

#workspaces button:hover {
    background: transparent;
    color: #a6adc8;
}

#workspaces button {
    padding: 0;
}

#custom-launcher {
    padding-left: 12px;
}

#custom-power {
    padding-left: 6px;
    margin-right: 10px;
}

